*{
    margin: 0;
    padding: 0;
    
}

body, html {
    height: 100%;
}

/* Navbar section */
.nav button{
    color: #2c2929;
    background-color: #f9f0f0;
    text-align: center;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-family: "Azeret Mono", monospace;
    font-weight: 600; 
    font-size: 17px;
    border-radius: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

/* First Section Or Cover */ 

.cover {  
    background-image: url('../images/Hero-bg.png');
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-size: cover;
    height: 652px;
    max-width: 1440px;

    
    
}

.coverimg img {
    width: 250px; 
    display: block;
    margin-bottom: 30px;
}

.cover h1 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    padding-top: 20px;
    font-weight: 900;
    margin-bottom: 20px;
}

.cover p {
    color: #0f0f0f;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 30px;
}

.cover button {
    color: #fdf8f8;
    background-color: #151515;
    text-align: center;
    padding: 20px 20px;
    border: none;
    cursor: pointer;
    font-family: "Azeret Mono", monospace;
    font-weight: 600; 
    font-size: 17px;
    border-radius: 10px;
}



/* footer section */
.footer {  
    background-image: url('../images/handshake.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto; /* here i'm Centering the footer's all components */
    padding: 30px;
    background-size: cover;
    background-position: center;
    height: 313px;
    max-width: 1440px;
    border-radius:10px 0 0 10px;
    
}

.footer h1 {
    color: #f9fafd;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.footer p {
    color: #f8f2f2;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    margin-bottom: 30px;
}

.footerbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adding some  space between input box and  submit button */
    gap: 15px; 
}

.footerbtn input {
    width: 370px; 
    padding: 10px 15px;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-family: "Azeret Mono", monospace;
}

.footerbtn button {
    color: #0d0c0c;
    background-color: #fcf5f5;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Azeret Mono", monospace;
    font-weight: 600; 
    font-size: 17px;
    border-radius: 10px;
}

.socialmedia{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px 50px 30px;
    font-family: "Azeret Mono", monospace;
    font-size: 10px;
}

.socialmediaicon{
    gap: 20px;
    display: flex;
    
}




/* Why choose web development section */
.why-choose-web-dev {
    margin-top: 70px;
    text-align: center;
    background-color: #f0f0f0; 
    padding: 50px 0;
}

.why-choose-web-dev p {
    color: #0f0f0f;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 30px;
    margin-top: 40px;
}

.why-choose-web-dev h1 {
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono", monospace;
    font-size: 40px;
    padding-top: 4px;
    font-weight: 900;
    margin-bottom: 40px;
}

.threeCard {
    width: 1440px;
    margin: 0 auto; 
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-bottom: 30px;
}

.secondCard {
    flex-direction: row;
}

.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
}

.card h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.card p {
    font-size: 20px;
    margin-bottom: 20px;
}

.cardImage img {
    width: 400px;
    height: auto;
}

.learnMoreBtn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}


/* My inspiration video section */

.inspiration {
    width: 1340px;
    text-align: center;
    margin-bottom: 50px;
    font-family:"Azeret Mono", monospace;
    padding: 10px;
    

}

.inspiration h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 900;
}

.inspiration p {
    font-size: 18px;
    margin-bottom: 40px;
    font-family:"Azeret Mono", monospace;
    font-weight: 600;
    
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    padding: 20px;
    border: 1px solid #ccc;
}

.video-container iframe {
    width: 70%;
    max-width: 1000px;
    height: 563px;
}


/* my current target */

  

.myCurrentTarget {
    text-align: center;
    margin-bottom: 50px;
    font-family:"Azeret Mono", monospace;
    
}




.myCurrentTargetCard-container {
    display: flex;
    justify-content: space-around; 
    gap: 10px;
    margin-top: 40px;
}

.myCurrentTargetCard {
    background-color: #f0f8ff; 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 50px;
    
    
    
}

.myCurrentTargetCard img {
    width: 40%; 
    height: 40%; 
    border-radius: 8px;
    margin-bottom: 7px; 
}

.myCurrentTargetCard p {
    margin-bottom: 10px; 
    font-size: 16px;
    color: #333;
}

.myCurrentTargetCard a {
    text-decoration: underline; 
    color: #007BFF;
    font-weight: bold;
}



